<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Ticket App</title>
</head>
<header>
    <h1>Travel Ticket App</h1>
</header>
<body>
    <div class="container">
        <div class="form_1" id="F1">
            <form action="#">
                <p>Destination:
                    <input type="text" size="20" maxlength="50">
                </p>
            </form>
    
        </div>
        <div class="form_2" id="F2">
            <form action="#">
                <p>Leaving When: 
                    <input type="text" value="" size="20" maxlength="50">
                </p>
            </form>
        </div>
        <div class="form_3" id="F3">
            <form action="#">
                <p>Leaving To: 
                    <input type="text" size="20" maxlength="50">
                </p>
            </form>
        </div>
        <button id="destination-button" height="20" width="20">Find Destination</button>
        <div class="destination_display">
            <ul>
                <li id="itemOne">Destination 1</li>
                <li>Destination 2</li>
                <li>Destination 3</li>
            </ul>

        </div>
    </div>
    <div>
        <button class="pdf-button">Destination PDF</button>
    </div>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
       </script>
    
</body>
</html>