* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

body {
    height: 100vh;
    animation: bgchange 10s infinite;
}

@keyframes bgchange {
    0% {background-color: rgb(34, 133, 64);}
    20% {background-color: rgb(54, 189, 121);}
    40% {background-color: rgb(26, 168, 90);}
    60% {background-color: rgb(10, 175, 65);}
    80% {background-color: rgb(50, 160, 68);}
    100% {background-color: rgb(34, 133, 64);}

}