#form_section{
    display: flex;
    justify-content: center;

}

.container {
    background-color: red;
    margin: 40px 50px;
    border-radius: 8px;
    max-width: 300px;
    position: relative;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //display: none;
}

form {
    padding:30px;
}

.form_1 {
    display: block;
    text-align: center;
}

.form_2 {
    display: block;
    text-align: center;
}

.form_3 {
    display: block;
    text-align: center;
}

#destination-button {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 17px;
    border-style: none;
    background-color: green;
    font-size: medium;
    align-items: center;
    text-decoration: none;
    text-decoration: uppercase;

    &:hover {
        background-color: red;
    }

    &:active {
        box-shadow: 0 0 2px white; 
        transform: translateY(2px);
    }
}

