.container {
    background-color: red;
    margin: 40px 55px;
    border-radius: 8px;
    max-width: 300px;
    position: relative;
    left: 35%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //display: none;
}

form {
    padding:30px;
}

#destination-button {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 17px;
    background-color: green;
    font-size: medium;
    align-items: center;
    text-decoration: none;
    text-decoration: uppercase;

    &:hover {
        background-color: red;
    }

    &:active {
        box-shadow: 0 0 2px white; 
        transform: translateY(2px);
    }
}

.destination_display {
    background-color: white;
    padding: 10px;

}


li {
    margin: 10px;
}