#destination_information {
    display: none;
    margin-bottom: 11px;
}
.destination_display {
    background-color: white;
    margin: 20px 30px;
    padding: 10px;
    border-radius: 10px;
}

li {
    margin: 10px;
}