#destination_information {
    display: none;
    padding-bottom: 15px;
}
.destination_display {
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    max-width: 350px;
    // position: relative;
    // left: 35%;
    text-align: center;

}



li {
    margin: 10px;
    list-style: none;
}