#destination_information {
    display: none;
    padding-bottom: 15px;
}
.destination_display {
    background-color: white;
    margin: 40px 50px;
    padding: 10px;
    border-radius: 10px;
}

li {
    margin: 10px;
}